@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-grid-color: rgba(138, 138, 138, 0.02);
    --background-fill-color: #000;
    scroll-behavior: smooth;
}

body {
    @apply w-full min-h-screen bg-gradient-to-t to-zinc-700/50 from-transparent bg-black;
}

main {
    min-height: calc(100vh - 72px);
    width: 100%;
    background-image:
            linear-gradient(
                    to right,
                    var(--background-grid-color) 0,
                    var(--background-grid-color) 1px,
                    transparent 1px,
                    transparent 100%
            ),
            linear-gradient(
                    to bottom,
                    var(--background-grid-color) 0,
                    var(--background-grid-color) 1px,
                    transparent 1px,
                    transparent 100%
            );
    background-position: 100px 0, 0 0;
    background-size: 30px 30px;
}

.navlink-shadow{
    text-shadow: none;
    transition: text-shadow 0.2s ease-in-out;
}
.navlink-shadow:hover{
    text-shadow: #974cd8 0 0 20px;
}

.text-shadow{
    text-shadow: rgb(102, 18, 183) 0 0 55px;
    background-clip: text;
}

.text-gradient {
    background-image: linear-gradient(
            to bottom,
            #011f4c 10%,     /* Substitua por um tom de azul escuro */
            #004cbf 15%,     /* sunset-rose-600 */
            #0066ff 30%,    /* Substitua por um tom de azul claro */
            white 51%,
            black 51%,
            #7e117c 60%,
            #b90ebd 70%,
            #dc16e3 75%,
            white 100%/* sunset-magenta-900 */

    )
    ;
    background-clip: text;
    color: transparent;
}

.text-stroke{
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
}

.responsive-svg{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 40px #7e117c);
}

@media (min-width: 768px) {
    .responsive-svg {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 767px) {
    .responsive-svg {
        width: 300px;
        height: 300px;
    }
}